:root {
    --prim-color: black;
    --sec-color: #CC0000;
    --tert-color: #808080;
    --four-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER STYLES */
header {
    padding: 5px 10px;
    background-color: var(--tert-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    color: var(--prim-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* PROJECT STYLES */
.project1 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-image: url(./run-buddy.jpg);
    background-size: 600px;
    background-position: left;
    padding: 100px 0px;
    border: 3px solid var(--prim-color);
}

.description {
    padding: 10px;
    background-color: var(--sec-color);
    color: var(--four-color);
    position: relative;
}

.minor-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}

.project2 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-image: url(./conflict.png);
    background-size: 100%;
    background-position: center;
    padding: 100px;
    border: 3px solid var(--prim-color);
}

.project3 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-image: url(./marketing.jpg);
    background-size: 120%;
    background-position: center;
    padding: 100px;
    border: 3px solid var(--prim-color);
}

/* ABOUT ME STYLES */
.intro div {
    display: flex;
}

.intro img{
    width: 20%;
}

.intro p {
    margin: auto;
    margin-left: 5px;
}

/* CONTACT STYLES */
.contact {
    text-align: center;
    margin: 20px 0px;
}

address {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    justify-content: center;
}

address div img {
    width: 50px;
    height: 50px;
    padding: 0 5px;
}

/* Media query for desktop screen size */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header nav ul li a{
        font-size: 16px;
    }

    .intro div {
        flex: 0 32%;
        justify-content: center;
    }